{% extends "base.html" %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">АС</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav justify-content-center">
            <li class="nav-item"><a class="nav-link" href="/">О проекте</a></li>
            <li class="nav-item"><a class="nav-link active" href="{{ url_for('search') }}">Поиск</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('slovnik') }}">Словник</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block app_content %}
<div class="content container">
    {% if message %} <h1>{{ message }}</h1> {% endif %}
    <h1>Выберите параметры</h1>
    <p></p>
    <div>
        <form method="post">
            <p>
                <label>Заголовок</label>
                <input name="title" id="title"></input>
            </p>
            <p>
                <label>Часть речи</label>
                <select data-placeholder="Начните вводить название" multiple class="chosen-select" name="pos">
                    <option value=""></option>
                    <option>ГЛАГ</option>
                    <option>МЕЖДОМ</option>
                    <option>НАРЕЧ</option>
                    <option>ПРЕДЛОГ</option>
                    <option>ПРИЛ</option>
                    <option>СОЮЗ</option>
                    <option>СУЩ</option>
                    <option>ЧАСТ</option>
                    <option>ЧИСЛ</option>
                </select>
            </p>
            <p>
                <label>Найти в тексте статьи</label>
                <input name="text" id="text"></input>
            </p>
            <p>
                <input type="submit" value="Search!">
            </p>
        </form>
    </div>
</div>
{% endblock %}